/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#launchGameButton {
		
	-fx-border-color: #973b3b;
	-fx-background-color: transparent;
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#launchGameButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#exitButton {
		
	-fx-border-color: #973b3b;
	-fx-background-color: transparent;
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#exitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}


#newGameButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#newGameButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#creditsButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#creditsButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#exitGameMenuButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#exitGameMenuButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#navigateToGameMenuButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#navigateToGameMenuButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#peakButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}





#peakPuzzleButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#peakMessage {
		
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 12pt;
	-fx-text-fill: white;
}

#tileBlank {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 0pt;
}


/* Row 1 */
#tile11 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

#tile21 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

#tile31 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

/* Row 2 */
#tile12 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

#tile22 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

#tile32 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

/* Row 3 */
#tile13 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

#tile23 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}

#tile33 {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.50);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 36pt;
}
/* End of puzzle labels */



#peakButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#hallButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#hallButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#woodsButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#woodsButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#watchTowerButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#watchTowerButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#willowButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#willowButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#cliffsButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#cliffsButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#cityGravesButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#cityGravesButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#citySubmergedButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#citySubmergedButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#shipButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#shipButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#depthsButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
}

#depthsButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#inventoryButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 20pt;
}

#inventoryButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#statsButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 20pt;
}

#statsButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#primaryGameExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#primaryGameExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#peakNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#peakNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#peakExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#peakExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#hallNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#hallNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#hallExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#hallExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#woodsNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#woodsNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#woodsExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#woodsExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#watchTowerNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#watchTowerNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#watchTowerExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#watchTowerExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#willowNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#willowNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#willowExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#willowExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#darkWillowNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#darkWillowButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#darkWillowExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#darkWillowExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#cliffsNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#cliffsNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#cliffsExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#cliffsExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#cityGravesNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#cityGravesNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#cityGravesExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#cityGravesExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#citySubmergedNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#citySubmergedNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#citySubmergedExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#citySubmergedExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#shipNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#shipNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#shipExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#shipExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#depthsNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#depthsNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#depthsExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#depthsExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}



#inventoryNexusButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 17pt;
}

#inventoryNexusButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#inventoryExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 14pt;
}

#inventoryExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}




#deathMainMenuButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#deathMainMenuButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#deathNewGameButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#deathNewGameButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#deathExitButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#deathExitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}





#gameOverText {
	-fx-font-size: 60pt;
}

#deathReasonText {
	-fx-font-size: 35pt;
}