/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#launchGameButton {
		
	-fx-border-color: #973b3b;
	-fx-background-color: transparent;
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#launchGameButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#exitButton {
		
	-fx-border-color: #973b3b;
	-fx-background-color: transparent;
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#exitButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}


#newGameButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#newGameButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#creditsButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#creditsButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#exitGameMenuButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#exitGameMenuButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#navigateToGameMenuButton {
		
	-fx-border-color: grey;
	-fx-background-color: rgba(255,255,255,0.25);
	-fx-font-family: "Copperplate Gothic Bold";
	-fx-font-size: 2em;
}

#navigateToGameMenuButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}